#logo{
    margin: auto;
}
/*descontinuado*/
.barra{
    border: 1px solid red;
    background-color: red;
    height: 20px;
}

/*imagens pokemon*/
#foto{
    border: 1px solid black;
    margin: auto;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 90%; 
    height: auto;
    background-image: linear-gradient(purple, green); /*ALTERAR COR OU IMG DE FUNDO DINAMICAMENTE*/
   /* background-color: rgb(2, 100, 2); */

    /*
    dragon: rgba(38, 104, 247, 0.767)
    bug: rgb(2, 100, 2)
    dark: black
    electric: yellow
    fairy: pink
    fighting: orange
    fire: red
    flying: rgb(55, 103, 127)
    ghost: rgb(48, 48, 109)
    grass: green
    ground: rgb(186, 113, 34)
    ice: rgb(80, 211, 247)
    normal: rgb(129, 81, 92)
    poison: purple
    psychic: rgb(192, 37, 110)
    rock: rgb(82, 18, 4)
    steel: rgb(85, 18, 110)
    water: blue
    */
}
/*container com id e nome*/
#identifica{
    margin-top: 40px;
    margin: auto;
}
/*Nome pokemon*/
#nome{
    font-size: 300%;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: purple; /*ALTERAR COR DINAMICAMENTE*/
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
}

footer{
    background-color: yellow;
    margin-top: 50px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);/*parametros: dimensão direita, dimensão baixo, */
    
}
#perfil{
    border-radius: 6px;
    border: 1px solid black;
    margin: 30px;
}
/*modelo para definir estilo do(s) tipo(s) do poke*/
.tipo{
    border-radius: 6px;
    height: 50px;
    text-align: center;
    padding: 10px;
 
}

/*barra que marca a quantidade de determinada estatistica*/
.status-value{
    /*width: 2px;*//*escala de 1 para 2 (ex: 2 * 255 = 510 max!)*/
    height: 10px;
    background-color: green;
    float: left;
}
/*container com valores estatisticos caracteristicos do pokemon*/
#status{
    /*margin-bottom: 40px;
    margin-left: 10px;*/
    margin: 30px;
    border: 2px solid gray;
}
#borda-esquerda{
    border-radius: 100px 0px 0px 100px;
    height: 1100px;
    text-align: center;
    padding: 10px;
    background-color: red;
   /* box-shadow: 10px 10px 8px 10px rgb(94, 94, 94);*/
   box-shadow: 5px 5px 10px #2e2e2e inset;/*esq,cima,interno?*/
}
#borda-direita{
    border-radius: 0px 100px 100px 0px;
    height: 1100px;
    text-align: center;
    padding: 10px;
    background-color: red;
    box-shadow: 5px 5px 10px #2e2e2e inset;/*esq,cima,interno?*/
}
#borda-cima{
    background-color: rgb(216, 1, 1);
    height: 70px;
    width: 100%;
    margin: 0;
}
#borda-cima2{
   /* width: 0; 
  height: 0; 
  border-left: 250px solid yellow;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #5386E4;
  border-top: 25px solid orange;*/
   
}
/*número pokedex*/
#id{
    background-color: blue;
    border-radius: 100%;
    float: right;  
    margin-right: 20px;
    margin-top: 7px;
    font-size: 180%;
    padding: 5px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#circulo-vermelho{
    background-color: red;
    border-radius: 100%;
    border: 1px solid black;
    float: left;
    color: transparent
}
#circulo-amarelo{
    background-color: yellow;
    border-radius: 100%;
    border: 1px solid black;
    float: left;
    color: transparent
}
#circulo-verde{
    background-color: green;
    border-radius: 100%;
    border: 1px solid black;
    float: left;
    color: transparent
}
/*todas as informações pokemon*/
article{
    /*border: 1px solid rgb(44, 43, 43);*/
    border-radius: 50px 50px 50px 50px;
    border-left: 60px solid rgb(216, 1, 1);
    border-right: 60px solid rgb(216, 1, 1);
    border-bottom: 60px solid rgb(216, 1, 1);
    box-shadow: 3px 4px 10px rgb(37, 36, 36);/*parametros: dimensão direita, dimensão baixo, */
    margin: 0;
    /*margin-top: 40px;*/
    width: 100%; 
    height: auto;
    padding: 0 !important; 
}
.th-tabela{
    background-color: gray;
    border-radius: 100%;
    width: 10%;
}
.perfil-dados{
    font-weight: bold;
    color: rgb(100, 2, 2);
    font-size: 110%;
    text-decoration: underline;
}
#parte1{
    border: 20px solid rgb(68, 68, 68);
    margin-left: 1px !important;
    margin-right: 1px !important;
    margin: auto;
    margin-top: 40px !important;
    padding: 0 !important;
    border-radius: 100px 100px 0px 0px;
}
#topo-profile{
    width: 100%;
    background-color: rgb(68, 68, 68);
    height: 50px;
    border-radius: 100px 100px 0px 0px;
}
#circulo-decorativo{
    background-color: red;
    border-radius: 100%;
    border: 1px solid black;
    width: 3%;
    margin: auto;
    color: transparent;
    margin-top: 10px;
}
#baixo-profile{
    width: 100%;
    background-color: rgb(68, 68, 68);
    height: 50px;
}
.botoes-players{
    font-size: 170%;
    margin-top: 10px;
}
#lista_pokemons{
    width: 800px !important;
    margin: auto !important;
    text-align: center;
}

.container {
    height: 90vh;
}